@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  .mask{
    position: relative;
    mask-image: url("/static/mask.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    @media (max-width:730px){
      mask-image: url("/static/mobilemaskmd.svg");
    }
    @media (max-width:540px){
      mask-image: url("/static/mobilemasksm.svg");
    }
  }